
body {
  font-family:  ui-serif,'Times New Roman', Times;
  text-align: left;
}

a:visited{
  color:blue;
}
.title {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, 
  helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: black;
  margin-left:auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 65px;
  text-align: center;
  width: 75%;
  max-width: 800px;
}
.title h1{
  margin-bottom: 0;
  margin-top: 0;
  background-color: black;
  color: white;
}
.title a{
  margin-top: 0;
}
.title p{
  margin-top: 0;
  font-size: 13px;
}
.maindiv{
  background-color: #ffffff;
  text-align: left;
  margin-left: auto;
  margin-right:auto;
  width:70%;
  max-width: 650px;
  min-height: auto;
  padding: 20px;
  padding-top: 0;
}
.maindiv h2{
  margin-top: 0;
  padding-top: 0;
  font-size: large;
  font-style:italic;

}
.maindiv h3{
  font-size: medium;
  margin-bottom: 0;
}
.maindiv p{
  font-size: small;
  margin-top: 0;
  padding-left: 2%;
  padding-top: 2px;
}
.artworkslist{
  padding-left: 4%;
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, 
  helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: small;
}

@media only screen and (max-width: 600px) {
  .mandiv p{
    font-size: large;
  }
}


